<div ng-controller="ListCtrl">
    <div class ='prodlist-header'> 
    Выбирайте продукт из списка
    </div>
    <div ng-cloak>
        <div  class='prodlist-item item_hover'  ng-repeat="product in ProductList"  ng-click="onItemClick(product.id)">
            <img class='prodlist-item-img' ng-src="{{config.backendHost('/static/' + product.img);}}"/>
            <div class='prodlist-item-title' > {{product.title}}</div>
            <div class='prodlist-item-text' > {{product.text}}</div>
        </div>
    </div>

</div>
