
body{
    background-color:#f8f8f8;
}

.main{

}

.main-header{
    width: 100%;

    text-align:center; 
}

.main-header a
{
    width: 100%;
    height: 50px;
    font-size: 3vw;
    line-height: 50px;
    font-family: 'Russo One', sans-serif;
    color: rgba(0,0,0,0.6); 
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1); 

}


.main-menu{ /* главное меню*/
    background-color:lightskyblue;
    height: 25px;
    border:solid #0099ff;
    border-radius: 10px;
}

.main-menu-item{
    color:#ffef8f;
    background-color: #87DEFF;
    float:right;
    margin: 1px   5px   ; 
    height: 85%;
    text-decoration:underline;

}

.main-menu-item:hover{

    padding: 1px;
    box-shadow: 0 3px 3px #575555 inset; 
    cursor: pointer;
}

.main-menu-username{

    margin-left:    10%;
}





.main-content{


}

/* стили списка продуктов*/
.prodlist-header{
 font-size: x-large;
 text-align: center;
 margin-top: 10px;
}
.prodlist-item
{
    float:left;
    border:solid #0099ff;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
    width: 300px;
    height: 320px;
    cursor: pointer;

}

.item_hover{}
.item_hover:hover{
    background: lightgray;    
}

.prodlist-item-img{ 
    margin-left: 10%;
    height:  200px;
}

.prodlist-item-title{
    margin: 1em;
    text-align: center;
    font-size: large;
    font-stretch: condensed;
}

.prodlist-item-text{
    margin: 1em;
    word-wrap: break-word;
}


/* стили списка отзывов на продукт*/
.main-content-product{
margin-left: 20px;     
margin-right: 20px ;
}

.product-header{ /*заголовок продуктов*/

}

.product-left
{
    float:left;
    width: 50%;  
    min-width: 300px;    

}
.product-form{
 margin-top: 20px;   
}
.product-form textarea{
width:  350px;  
height: 10em;
 margin-top: 20px;  
 margin-bottom:  20px; 
}

.product-right
{
    float:left;
    width: 50%;    
    min-width: 300px;     

}

.product_item
{
    float:none;
}

.product-rewiews
{
    background-color: whitesmoke;
    border:solid #0099ff;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 10px;   
}

.product-rewiews-row_1
{
    width: 100%;
   

}
.product-rewiews-user
{
    float:left;
    width: 50%;
    font-style: oblique;
    font-size: medium;
}

.product-rewiews-rate
{
    float:right;
    width: 50%;  
}

.product-rewiews-text
{
 margin: 1em;
font-size: large;
word-wrap: break-word;
}

.product-rewiews-data
{
    font-size: smaller;
    color:#ccc;
    text-align: right;
}

.clear-fix:before, .clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

/* Костыли для Internet Explorer 6 и 7 */
.clear-fix {
    *zoom: 1;
}