<!DOCTYPE html>

<html lang="en" data-ng-app="dktApp" data-ng-controller="MainCtrl" dir="ltr">
    <head >
        <title>Рекомендательная система</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lobster|Russo+One|Vollkorn" rel="stylesheet"> 
        <link rel="stylesheet" href="lib/jqueryui/jquery-ui.css">
        <link rel="stylesheet" href="css/style.css">
    </head>     

    <body>
        <div class='main'>
            <div class="main-header">
                <a> Рекомендательная система</a>
            </div> 

            <div class="main-menu">
                <span class='main-menu-username'> {{Loggeduser.login}}</span>
                <span class='main-menu-item' ng-click='ShowRegisterDlg();'>Зарегистрироваться</span>
                <span  class='main-menu-item' ng-click="ShowLoginDlg();">Войти</span>  
                <!--span ng-if='Loggeduser.success' class='main-menu-item' ng-click="LogOut();">Выйти</span-->  

            </div>    

            <div class="main-content">

                <ng-view></ng-view>
            </div>
        </div>  
        <script src="js/config.js"></script>

        <script src="lib//jquery.min.js"></script>
        <script src="lib/jqueryui/jquery-ui.js"></script>
        <script src="lib/require.js"></script>

        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-route.min.js"></script>
        <script src="js/main.js"></script>
     


        <!-- jQuery IU dialogs -->
        <div id="logindialog" style="display:none;">
            <label for="inputLogin" >   Введите логин</label>
             <input type="text" id="inputLogin" ng-model='user.login' >     <br>
            <label for="inputPassw" >   Введите пароль</label>
            <input type="password" id="inputPassw" ng-model='user.password' >     <br>
        </div>

        
        <div id="messagedialog" style="display:none;">
            {{message}}
        </div>

    </body>
</html>
