<div ng-controller="ProductCtrl">
    <div class='main-content-product'>
        <div class='product-header'>
            <a href="" ng-click='back();'>Назад</a>
        </div>
        <div class='product-left'>   
            <div class="product-product">

                <div  class='prodlist-item product_item' >
                    <img class='prodlist-item-img' ng-src="{{config.backendHost('/static/' + product.img);}}"/>
                    <div class='prodlist-item-title' > {{product.title}}</div>
                    <div class='prodlist-item-text' > {{product.text}}</div>
                </div>   

            </div>



            <div class="product-form">
                <div ng-if='Loggeduser.success'>
                    <div><img ng-src='{{image}}' ng-repeat="image in Stars track by $index"  ng-click='OnRateStar($index)' id='{{$index}}'/></div>
                    <div>
                        <textarea ng-model='vote.text'></textarea>   
                    </div>
                    <button  ng-click="onSend();"> Оставить отзыв</button>
                </div>
               <div ng-if='!Loggeduser.success'> Зарегистрируйтесь, чтобы оценить товар и оставить свое мнение</div> 

            </div>
        </div>   

        <div class='product-right'>       
            <div class="product-rewiews" ng-repeat='Otzuv in reviews'>
                <div class='product-rewiews-row_1 clear-fix'>
                    <div class='product-rewiews-user'> 
                        {{Otzuv.created_by.username}}
                    </div>  
                    <div class='product-rewiews-rate'>
                        <img src='img/star-light.png' ng-repeat="x in getNumber(Otzuv.rate) track by $index"/>
                    </div>
                </div>    
                <div class='product-rewiews-text'>
                    {{Otzuv.text}}
                </div>

                <div class='product-rewiews-data'>  
                    {{Otzuv.created_at}}
                </div>


            </div>
        </div>
    </div>
</div>




